<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <th:block th:insert="~{headerAdmin :: link}"></th:block>
  <title>Admin</title>
</head>
<body>
  <div th:insert="~{headerAdmin :: site-header}"></div>

  <section class="dashboard">
    <div class="add-department">
      <h2 class="add-department__title">Thêm danh mục mới</h2>
      <form th:action="@{/admin/category/add}" method="post" class="add-department__form">
        <div class="form-group">
          <label for="category" class="form-group__label">Tên danh mục</label>
          <input class="form-group__input" type="text" name="category" id="category"
                 placeholder="Nhập tên danh mục" required>
        </div>

        <input type="submit" class="form-group__submit" value="Thêm">
      </form>
    </div>
  </section>

  <script src="/adminjs/main.js"></script>
</body>
</html>