<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <th:block th:insert="~{headerAdmin :: link}"></th:block>
  <title>Admin</title>
</head>
<body>
  <div th:insert="~{headerAdmin :: site-header}"></div>

  <section class="dashboard">
    <div class="add-employee">
      <h1 class="add-employee__title">Thêm sản phẩm mới</h1>
      <form th:action="@{/admin/product/add}" method="post" enctype="multipart/form-data" class="add-employee__form">

        <div class="form-group">
          <label for="name" class="form-group__label">Tên sản phẩm</label>
          <input class="form-group__input" type="text" name="name" id="name" placeholder="Nhập tên sản phẩm" required>
        </div>

        <div class="form-group">
          <label for="image" class="form-group__label">Ảnh</label>
          <input class="form-group__input" type="file" accept="image/*" name="image" id="image" required>
        </div>

        <div class="form-group">
          <label for="costPrice" class="form-group__label">Giá bán</label>
          <input class="form-group__input" type="text" name="costPrice" id="costPrice" placeholder="Nhập giá bán" required>
        </div>

        <div class="form-group">
          <label for="originalPrice" class="form-group__label">Giá gốc</label>
          <input class="form-group__input" type="text" name="originalPrice" id="originalPrice" placeholder="Nhập giá gốc" required>
        </div>

        <div class="form-group">
          <label for="stock" class="form-group__label">Số lượng</label>
          <input class="form-group__input" type="number" name="stock" id="stock" placeholder="Nhập số lượng" required>
        </div>

        <div class="form-group">
          <label for="description" class="form-group__label">Mô tả</label>
          <textarea class="form-group__input" name="description" id="description" placeholder="Nhập mô tả" required></textarea>
        </div>

        <div class="form-group">
          <label for="category" class="form-group__label">Danh mục</label>
          <select id="category" class="form-group__input" name="category" required>
            <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
          </select>
        </div>

        <input type="submit" class="form-group__submit" value="Thêm">
      </form>
    </div>
  </section>

<script src="/adminjs/main.js"></script>
</body>
</html>