<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:replace = "~{header :: title}">Title</title>
    <!--  kế thừa css  -->
    <th:block th:insert="~{header :: link}"></th:block>
</head>
<body>
    <!--    kết thừa từ trang header-->
    <div th:insert="~{header :: site-header}"></div>

  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" data-background="/img/hero/category.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Card List</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!--================Cart Area =================-->
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
                <th scope="col" class="text-center align-middle">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="product : ${productList}">
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img th:src="@{/img/categori/{image}(image=${product.image})}" alt="" />
                    </div>
                    <div class="media-body">
                      <p th:text="${product.productName}"></p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>$[[${product.costPrice}]]</h5>
                </td>
                <td>
                  <div class="product_count">
<!--                    <span class="input-number-decrement"> <i class="ti-minus"></i></span>-->
                    <input class="input-number" type="text" th:value="${product.stock}" min="0" max="10">
<!--                    <span class="input-number-increment"> <i class="ti-plus"></i></span>-->
                  </div>
                </td>
                <td>
<!--                  <h5>$[[${product.stock} * ${product.costPrice}]]</h5>-->
                  <h5 th:text="'$' + ${product.stock * product.costPrice}"></h5>
                </td>
                <td class="text-center align-middle">
                    <form method="post" th:action="@{/cart/remove/{id}(id=${product.id})}">
                        <i class="fas fa-trash-alt" style="cursor:pointer" onclick="this.closest('form').submit();"></i>
                    </form>
                </td>
              </tr>

              <tr class="bottom_button">
                <td>
<!--                  <a class="btn_1" href="#">Update Cart</a>-->
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" th:href="@{/}">Continue Shopping</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5 th:text="'$' + ${subtotal}"></h5>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </section>
  <!--================End Cart Area =================-->

    <div th:insert="~{footer :: site-footer}"></div>

</body>

</html>